<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mads Bruun Jensen</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <environment include="Development">
        <link href="~/css/Front_Main.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/Front_Main.min.css" rel="stylesheet" />
    </environment>
</head>
<body style="
        background-image: url(@(ViewData["Back"]));
        background-repeat: no-repeat;
        background-size: cover;
        ">
    <partial name="_Navbar" />
    <partial name="_CookieConsentPartial" />

    <div class="body-content">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        $(".burger").click(function () { $(this).toggleClass("change") });
        $("#menu ul li").each(function () {
            let nav = $(this);
            if (nav.find("a").html() == "@ViewData["Menu"]")
                nav.addClass("active");
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
