@model MyPersonelWebsite.Models.Projects.ProjectIndexModel
@{
    ViewData["Title"] = "Index";
    ViewData["Menu"] = "Projects";
}

<div class="container">
    <div class="Seach">
        <input type="text" placeholder="Seach Project and tags" />
        <span class="icon fas fa-search"></span>
    </div>
    @if (Model.ProjectList.Any())
    {
        <div class="ProjectGrid">
            @foreach (var item in Model.ProjectList)
            {
                <div class="Card">
                    <img src="@(String.IsNullOrWhiteSpace(item.imgPath) ? "/images/Static/no-image.jpg" : item.imgPath)" />
                    <a href="javascript:void(0)" class="text-center">@item.Name</a>
                    <div class="Card-tags">
                        @foreach (var tag in item.tags)
                        {
                            <span class="chip">@tag.tag</span>
                            <span class="chip">@tag.tag</span>
                        }
                    </div>
                    <div class="Card-dec">
                        <p>
                            @item.Description
                        </p>
                    </div>
                </div>
            }
            @for (int i = 0; i < 12; i++)
            {
        <div class="Card">
            <img src="/images/Static/no-image.jpg" />
            <a href="javascript:void(0)" class="text-center">Test</a>
            <div class="Card-tags">
                <span class="chip">tag</span>
            </div>
            <div class="Card-dec">
                <p>
                    Cumque aspernatur ex ipsum dolorum eius, tempore omnis minus sequi architecto totam sunt maxime nemo, ab repellendus. Aut voluptatem saepe voluptatibus nisi ipsum. Debitis corporis culpa ipsa error nemo doloribus.
                </p>
            </div>
        </div>
            }
        </div>
    }
    else
    {
        <p class="text-center">There is no project yet</p>
    }
</div>
